<h1><%= @user.username %></h1>

<table>
    <% @user.photos.each do |photo| %>
        <tr>
            <td><%= photo.caption %></td>
            <td>
                <img src="<%= photo.image %>">
            </td>
            <td>
                <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </td>
            
        </tr>
    <% end %>
</table>